<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.careagle.testmodel">

    <application>
        <activity android:name=".TestModelActivity"></activity>
        <service android:name="com.careagle.testmodel.MyService"/>
    </application>

</manifest>